# Duolingo + Memrise ordliste quiz

Dette er en quiz over alle ord som finnes på Duolingo og Memrise norskkurs. 

**Lykke til!**

In [47]:
import pandas as pd

url = "https://raw.githubusercontent.com/ddundo/norsk/main/data/duomem_dict.csv"
data = pd.read_csv(url, sep=";")
data

              norsk             engelsk
0           et vann             a water
1           en melk              a milk
2               den            it, that
3           å spise              to eat
4            mannen             the man
...             ...                 ...
2372       en kølle       a stick, club
2373        å dykke             to dive
2374  et brettspill        a board game
2375          sjakk               chess
2376    å kaste opp  to throw up, vomit

[2377 rows x 2 columns]

In [51]:
class Quiz:
  def __init__(self, verb_data, n):
    self.df_qns = verb_data.sample(frac=1).head(n)

    self.df_ans = pd.DataFrame().reindex_like(self.df_qns).astype(str)
    self.df_eq = pd.DataFrame().reindex_like(self.df_qns).astype(str)

  def start(self):
    for index, row in self.df_qns.iterrows():
      answer = input(f"{row['engelsk']}: ")
      self.df_ans.at[index, 'norsk'] = answer

    self.analyse()

  def analyse(self):
    def _apply_color(x):
      colors = {True: 'green', False: 'red'}
      return self.df_eq.applymap(lambda val: 'background-color: {}'.format(colors.get(val,'')))
    
    self.df_eq = self.df_ans.eq(self.df_qns)
    self.df_eq['engelsk'] = pd.NA
    self.df_comp = self.df_qns.compare(self.df_ans, keep_shape=True, keep_equal=True).rename(columns={'self': 'correct', 'other': 'your answer'}, level=-1)['norsk']
    self.df_comp['engelsk'] = self.df_qns['engelsk']
    self.df_results = self.df_qns.style.apply(_apply_color, axis=None)

In [52]:
n = 1  # number of verbs in quiz
quiz = Quiz(data, n)
quiz.start()

In [53]:
quiz.df_results  # df with correct (green) and wrong (red) answers

In [54]:
quiz.df_comp  # overview of correct and your answers

       correct your answer engelsk
1129  legg til    legg til     add